$gray-bg:#f2f2f2;
$gray-border:#ddd;
$gray-content:#f6f6f6;
$gray-dash: #e5e5e5;
$gray:#cccccc;
$gray-font:#666666;
$blue-header:#1a75ce;
$blue-dark:#195d9e;
$green-buy:#40cd28;
$green-dark:#37af22;
$black:#000000;
$white:#ffffff;
