@import "../base/_pallete";
@import "../base/_variables";

.btn {
  border-radius: 0;
  color:$white;
}

@mixin button-buy($pdd-1:10px, $pdd-2:25px) {
  background-color: $green-buy;
  border-bottom:3px solid $green-dark;
  padding:$pdd-1 $pdd-2;
}
