@import "../base/_pallete";
@import "../base/_variables";
//tablet

@media (min-width: 768px) {
  header {
    background-color: $blue-header;
    height: 200px;
    padding:20px $space-sm;

    .visitor {
      .media {
        position: relative;
        top:10px;
      }

      p {
        color: $white;

        a {
          color:$white;
          font-size: 1.2rem;
        }
      }

      .cart-icon {
        position: relative;
        left: $space-sm;

        a {
          .cart-icon--notification {
            background-color: $green-buy;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            color: $white;
            position: absolute;
            right: $space-sm;
            padding:2px 8px;
            font-size: $font-md;
            /* this section calls the dropHeader animation we defined above */
            animation-name: zoom;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-duration: 0.2s;
            z-index:100;
          }
          @keyframes zoom {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(100%);
            }
          }
        }
      }

      .cart {
        position: relative;
        right: $space-md;
        float: right;
      }
    }

    .navbar-default {
      height: $space-lg;
    }

    .navbar-form {
      width: 100%;

      .search-content {
        input {
          width: 100%;
          height: 40px;
        }

        button {
          top: 0;
          right: 0;
          position: absolute;
          height: 85%;
          font-size: $space-sm;
          width: 3.3em;
          border-radius: 3px;
          margin:3px 18px;
          background-color: $blue-header;
          color: $white;
          border: 0;
        }
      }
    }

    .navbar-brand>img {
      margin: 0 $space-md;
    }
  }

  section {
    .cart-top, .list-product, .freight, .finish  {
      margin-bottom: 0;
      padding: $space-sm;
    }

    .list-product, .freight, .checkout, .finish {
      margin: 0 -15px;
    }

    .bg-section {
      background-color: $white;

      .freight {
        .freight-box  {
          border: 1px solid $gray-border;
          margin: 0 0 0 $space-sm ;
          padding: 20px;

          .freight-search {
            input {
              height: 40px;
            }
          }
        }
      }

      .checkout {
        .checkout-box {
          margin: $space-sm $space-md 0 0 ;
          background-color: $gray-content;
        }
      }
    }
  }

  #wrapper {
    padding-left: 250px;

    .toggled {
      padding-left: 0;
    }
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  .navigation-user {
    padding-top: 0;
    padding-bottom: 0;

    .well {
      margin-bottom: -9999px;
      padding-bottom: 9999px;
      overflow: hidden;
      overflow-x: hidden;
      z-index: 100;

      .profile-name {
        .profile-name--item {
          text-align: center;

          a {
            display: block;
          }
        }
      }
    }

    .navigation-user--caption {
      .cicle-content {
        margin: 0 auto;
        width: 50%;
      }
    }

    .content-address {
      background-color: transparent;

      .content-address--bg {
        background-color: $white;
        margin-top: $space-md;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        overflow: hidden;
        overflow-x: hidden;
        z-index: 100;

        .content-address--title {
          padding: 0 20px;
        }
      }
    }
  }

  footer {
    .footer-content {
      text-align: center;
    }
  }
}

@media (min-width: 991px) {
  header {
    height: 110px;

    .navbar-form {
      width: 50%;
      position: relative;
      bottom: $space-lg;
    }

    .visitor {
      .pull-left {
        position: relative;
        left:$space-xl;
      }
    }
  }
  .navigation-user {
    .navigation-user--caption {
      .cicle-content {
        margin: 0 auto;
        width: 100%;
      }
    }

    .well {
      .profile-name {
        .profile-name--item {
          text-align: left;
        }
      }
    }

    .content-address {
      .content-address--bg {
        .content-address--display {
          display: flex;
          flex-wrap: wrap;

          .card {
            width: 345px;
            display: inline-block;
            flex-basis: 345px;
            flex-grow: 1;
          }
        }

        .content-address--title {
          font-size: $space-md;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .visitor {
    .pull-left {
      left:175px;
    }
  }

  .navigation-user{
    .content-address {
      .content-address--bg {
        .content-address--display {
          display: flex;
          flex-wrap: wrap;

          .card {
            width: 420px;
            display: inline-block;
            flex-basis: 420px;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
